*{

}
.container{
    /* display:flex; */
    /* flex-direction: column; */
    width: 50%;
    margin: auto;
}
h1{
    text-align: center;
}
input,label{
    display: block;
}
input{
    margin: 0.5rem;
    width: 100%;
}
#check_button{
    display: block;
    margin-top: 1rem;
    margin: auto;
}